<link rel="stylesheet" href="/stylesheets/bodas.css" />

<div id="bodas">
  <div class="row align-items-center py-5 mx-0">
    <div class="col d-block">
      <img src="/images/boda1.jpeg" alt="boda 1" class="img-boda img-fluid" />
    </div>
    <div class="col d-none d-sm-block">
      <img src="/images/boda2.jpg" alt="boda 2" class="img-fluid" />
    </div>
    <div class="col">
      <img src="/images/boda3.jpg" alt="boda 3" class="img-fluid" />
    </div>
    <div class="col-lg-4 col-md-6 mt-4 mt-sm-0">
      <h2>Historias únicas</h2>
      <p>En cada boda, nos adentramos en una historia única, llena de amor, emoción y momentos inolvidables. Capturamos cada detalle, desde los primeros instantes de nerviosismo hasta los cálidos abrazos y las risas compartidas. Nuestro objetivo es inmortalizar cada capítulo de esta historia de amor, creando un legado visual que perdure en el tiempo. Con nuestras fotografías, transformamos los recuerdos en tesoros eternos, para que puedas revivir y compartir tu historia única una y otra vez</p>
    </div>
  </div>

  <div class="row align-items-center py-5 mx-0">
    <div class="col-lg-4 col-md-6 mt-4 mt-sm-0">
      <h2>Momentos soñados</h2>
      <p>En el día de tu boda, cada momento es un sueño hecho realidad. Nuestro equipo de fotógrafos profesionales está comprometido a capturar esos momentos soñados con precisión y sensibilidad artística. Desde los preparativos hasta la ceremonia y la celebración, estaremos presentes en cada instante mágico, capturando sonrisas, lágrimas de felicidad y gestos de amor. Queremos que tus fotografías de boda te transporten de vuelta a esos momentos tan especiales, llenándote de alegría y recordándote la belleza y la emotividad de tu día más importante</p>
    </div>
    <div class="col">
      <img src="/images/boda4.jpeg" alt="boda 4" class="img-boda img-fluid" />
    </div>
    <div class="col d-none d-md-block">
      <img src="/images/boda5.jpg" alt="boda 5" class="img-fluid" />
    </div>
    <div class="col d-none d-sm-block">
      <img src="/images/boda6.jpeg" alt="boda 6" class="img-fluid" />
    </div>
  </div>
</div>