<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Analía Leyez" />
    <meta name="description" content="Sitio Web de fotografía profesional" />
    <meta
      name="keywords"
      content="fotógrafo, fotógrafo profesional, fotografía profesional, eventos, bodas, 15 años, videos, book"
    />
    <!--fuentes google-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Miss+Fajardose&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital@1&display=swap"
      rel="stylesheet"
    />
    <title>{{title}}</title>
    <!-- iconos -->
    <link rel="icon" type="image/x-icon" href="/images/icono-camera.png" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css"
    />
    <!--bootstrap-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/fotografia.css" />
  </head>

  <body>
    <nav class="navbar navbar-expand fixed-top">
      <div class="container-fluid">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <a class="navbar-brand" href="/">
            <i class="bi bi-camera"></i>
          </a>
          <ul
            class="navbar-nav d-flex justify-content-center align-items-center"
          >
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/">Inicio</a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                type="button"
                data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasRight"
                aria-controls="offcanvasRight"
              >Sobre Mi</a>
            </li>
            <!-- boton desplegable -->
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Portfolio
              </a>
              <ul class="navbar-dropdown-menu dropdown-menu">
                <li><a class="dropdown-item" href="/bodas">Bodas</a></li>
                <li><a class="dropdown-item" href="/quince">15 años</a></li>
                <li><a class="dropdown-item" href="/modelaje">Modelaje</a></li>
                <li><a class="dropdown-item" href="/paisajes">Paisajes</a></li>
                <li><a class="dropdown-item" href="/#filmaciones">Filmaciones</a></li>
                <li>
                  <hr class="dropdown-divider" />
                </li>
              </ul>
            </li><!-- fin boton desplegable -->
            <li class="nav-item">
              <a class="nav-link" href="/#contacto">Contacto</a>
            </li>
            <!-- boton desplegable -->
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Más
              </a>
              <ul class="navbar-dropdown-menu dropdown-menu">
                <li><a class="dropdown-item" href="/staff">Nuestro staff</a></li>
                <li><a class="dropdown-item" href="/trabajaConNosotros">Trabajá con nosotros</a></li>
                <li><a
                    class="dropdown-item"
                    href="/#testimonios"
                  >Testimonios</a></li>
                <li><a class="dropdown-item" href="/#redes-sociales">Redes
                    Sociales</a></li>
                <li><a
                    class="dropdown-item"
                    href="/#acordionPreguntasFrecuentes"
                  >Preguntas frecuentes</a></li>
                <li>
                  <form class="d-flex" role="search">
                    <input
                      class="form-control me-2"
                      type="search"
                      placeholder="Search"
                      aria-label="Search"
                    />
                    <button class="btn" type="submit"><i
                        class="bi bi-search"
                      ></i></button>
                  </form>
                </li>
                <li><a class="dropdown-item" href="/admin/login">Inicia sesión</a></li>
              </ul>
            </li><!-- fin boton desplegable -->
          </ul>
        </div>
      </div><!-- fin barra de navegacion -->
    </nav>

    {{{body}}}

    <!-- OFFCANVAS Sobre mi -->
    <div
      class="offcanvas-sobreMi offcanvas offcanvas-end"
      tabindex="-1"
      id="offcanvasRight"
      aria-labelledby="offcanvasRightLabel"
    >
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasRightLabel">Un poco de mi
          historia...</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body">
        Analía Leyez es fotógrafa profesional especializada en eventos, modelaje
        y postales turísticas. Trabaja en CABA, provincia de Buenos Aires y toda
        la Argentina. Me dedico a la fotografía profesional desde hace más de 10
        años.
        <hr />
        Tuve una vocación artística muy marcada ya desde chica: pasaba horas
        dibujando y yendo a cursos para explotar mi creatividad. Durante 2011 y
        2012 he recorrido los lugares naturales más icónicos de la Argentina,
        realizando miles de fotografías en alta calidad. Con ese material, en
        2014 armé el Banco de imágenes Argentina on-line, un recurso profesional
        que todavía sigue creciendo y actualizándose día a día. Todos los años
        mi estudio edita un Calendario con paisajes de Argentina, dirigido tanto
        a las empresas como a los particulares. En 2013 me asocié con quienes
        hoy forma parte de este equipo, o familia, y desde entonces nuestra
        demanda no para de crecer. En los ratos libres me dedico a cocinar, leer
        novelas policiales y hacer yoga.
        <hr class="border border-dark border-1 opacity-50" />
        Contame tu proyecto, y te ayudaremos a visualizarlo! siempre buscamos
        nuevos desafios.
      </div>
    </div>

    <!-- footer -->
    <footer class="d-flex container-fluid">
      <p class="text-center">Creado por Analía Leyez (2023) &#169</p>
    </footer>

    <!-- codigo js de bootstrap -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
  </body>
</html>