<link rel="stylesheet" href="/stylesheets/modelaje.css" />

<h2 class="encabezado">Moda y Diseño</h2>
<div class="content-all">
  <div class="contenedor-carrousel">
    <div class="carrousel">
      <figure><img src="images/modelo1.jpeg" alt="" /></figure>
      <figure><img src="images/modelo2.jpeg" alt="" /></figure>
      <figure><img src="images/modelo3.jpeg" alt="" /></figure>
      <figure><img src="images/modelo4.jpeg" alt="" /></figure>
      <figure><img src="images/modelo5.jpeg" alt="" /></figure>
      <figure><img src="images/modelo6.jpeg" alt="" /></figure>
      <figure><img src="images/modelo7.jpeg" alt="" /></figure>
      <figure><img src="images/modelo8.jpeg" alt="" /></figure>
      <figure><img src="images/modelo9.jpeg" alt="" /></figure>
    </div>
  </div>
  <div class="content-texto">
    <h2>Elegancia en Movimiento: Explora Nuestra Fotografía de Modelaje</h2>
    <p>Descubre la belleza y elegancia en movimiento de nuestros modelos
      profesionales. Nuestra colección de fotografías de modelaje te
      transportará a un mundo de estilo y glamour. Desde pasarelas hasta
      ubicaciones impresionantes, cada imagen captura la personalidad única de
      nuestros modelos. Admira el vestuario impecable y el maquillaje artístico
      que contribuyen a crear imágenes deslumbrantes. Sumérgete en nuestro mundo
      de modelaje y déjate inspirar por la elegancia en cada fotografía.</p>
  </div>
</div>