<link rel="stylesheet" href="/stylesheets/paisajes.css" />

<h2>Explora la Belleza de la Naturaleza a Través de Nuestras Fotografías</h2>
<div id="paisajes">
  <div class="row align-items-center py-5 mx-0">
    <div class="col d-block">
      <img src="images/paisaje1.jpeg" alt="paisaje 1" class="img-paisaje img-fluid" />
    </div>
    <div class="col d-none d-sm-block">
      <img src="images/paisaje2.jpeg" alt="paisaje 2" class="img-fluid" />
    </div>
    <div class="col d-block">
      <img src="images/paisaje3.jpeg" alt="paisaje 3" class="img-fluid" />
    </div>
    <div class="col-lg-4 col-md-6 mt-4 mt-sm-0">
      <h2>Sumergite en un mundo de paisajes cautivadores y descubrí lugares impresionantes</h2>
      <p>Desde majestuosas montañas hasta exuberantes bosques y extensos campos, nuestras fotografías de paisajes te transportarán a escenarios en los que podrás perderte y conectarte con la esencia misma de la Tierra. Cada imagen está impregnada de colores vibrantes, texturas fascinantes y una composición cuidadosamente seleccionada para resaltar la grandeza y armonía de la naturaleza.</p>
    </div>
  </div>

   <div class="row align-items-center py-5 mx-0">
    <div class="col-lg-4 col-md-6 mt-4 mt-sm-0">
      <h2>Admirá el mundo que nos rodea</h2>
      <p>Queremos que te sumerjas en la tranquilidad de un amanecer sobre el mar, sientas la inmensidad de un desierto sin fin o te maravilles con la delicadeza de una cascada que cae suavemente.<br> Más allá de capturar la belleza visual, nuestras fotografías de paisajes buscan transmitir emociones y crear una conexión emocional con la naturaleza. Queremos recordarte la importancia de proteger y preservar estos espacios naturales, para que futuras generaciones puedan deleitarse con su esplendor.</p>
    </div>
    <div class="col d-block">
      <img src="/images/paisaje4.jpeg" alt="paisaje 4" class="img-paisaje img-fluid" />
    </div>
    <div class="col d-block">
      <img src="/images/paisaje5.jpeg" alt="paisaje 5" class="img-fluid" />
    </div>
  </div>
</div>