<link rel="stylesheet" href="/stylesheets/staff.css" />

<div id="carouselExampleIndicators" class="carousel slide carousel-dark">
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="3"
      aria-label="Slide 4"
    ></button>
  </div>

  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="card-group">
        <div class="col">
          <div class="card h-100 text-bg-secondary">
            <img
              src="/images/staff1.jpeg"
              class="card-img-top"
              alt="Foto Feliciano"
            />
            <div class="card-body">
              <h5 class="card-title">Feliciano Fernandez</h5>
              <p class="card-text">Nuestro fotógrafo experto en eventos</p>
            </div>
            <div class="card-footer bg-gradient">
              <small class="text-white">Miembro desde agosto 2015</small>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <div class="card-group">
        <div class="col">
          <div class="card h-100 text-bg-dark">
            <img
              src="/images/staff2.jpeg"
              class="card-img-top"
              alt="Foto de Mia"
            />
            <div class="card-body">
              <h5 class="card-title">Mia Gomez</h5>
              <p class="card-text">Especializada en paisajes y modelaje</p>
            </div>
            <div class="card-footer bg-gradient">
              <small class="text-white">Miembro desde marzo 2016</small>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <div class="card-group">
        <div class="col">
          <div class="card h-100 text-bg-secondary">
            <img
              src="/images/staff3.jpeg"
              class="card-img-top"
              alt="Foto de Maria"
            />
            <div class="card-body">
              <h5 class="card-title">Maria Viñas</h5>
              <p class="card-text">Nuestra filmadora! ahora también se dedica a
                fotos de embarazos, bautismos, entre otros</p>
            </div>
            <div class="card-footer bg-gradient">
              <small class="text-white">Miembro desde marzo 2016</small>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <div class="card-group">
        <div class="col">
          <div class="card h-100 text-bg-dark">
            <img
              src="/images/staff4.jpeg"
              class="card-img-top"
              alt="foto de Nayara"
            />
            <div class="card-body">
              <h5 class="card-title">Nayara Mendez</h5>
              <p class="card-text">Experta en fotos publicitarias, periodísticas
                y recitales</p>
            </div>
            <div class="card-footer bg-gradient">
              <small class="text-white">Miembro desde abril 2017</small>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleIndicators"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleIndicators"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>