<h1 style="margin-top: 200px; margin-bottom: 200px; font-family:Arial, Helvetica, sans-serif;">PÁGINA EN CONSTRUCCIÓN...</h1>
<p style="font-size: 23px;"> Por el momento no estámos recibiendo Currículums, gracias por tu interés.</p><br>